body {
  margin: 0;
  box-sizing: border-box;
}

/* * top hero section */
.img1 {
  background-image: url("img/1.jpg");
  width: 100vw;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover; /* if the div size and image size is different, it will cover all part. */
  color: white;

  display: flex;
  justify-content: center;
  align-items: center;
  /* position: relative; */
}

/* hero section */
.hero {
  background: black;
  opacity: 0.7;
  padding: 4rem;
}

h1 {
  transition: 1000ms ease-in;
  /* transition: cubic-bezier(1, 0.89, 0, 1.32); */
}

h1:hover {
  color: rgb(0, 119, 255);
  font-size: 50px;
}

.hero-text-section {
  /* background: ; */
  margin-top: 3px;
}
.img2,
.img3 {
  width: 100vw;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.img2 {
  background-image: url("img/2.jpg");
  background-repeat: no-repeat;
  background-size: cover; /* if the div size and image size is different, it will cover all part. */
}

.img3 {
  background-image: url("img/3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

section {
  background: #222;
  color: white;
  padding: 2rem;
}

section > p {
  margin: 1rem;
}

.title {
  font-size: 3rem;
  text-transform: uppercase;

  background: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 20px 30px;
  letter-spacing: 1.5rem;
}

.img1,
.img2,
.img3 {
  background-attachment: fixed;
  overflow: hidden;
}

.down-arrow {
  font-size: 100px;
  font-weight: bolder;
  transform: rotate(90deg);
  color: greenyellow;

  position: absolute;
  bottom: 10px;

  animation: bounce 2000ms infinite ease-in;
}

@keyframes bounce {
  0% {
    bottom: 100px;
  }

  /* 25% {
    left: 100px;
    bottom: 50px;
  }

  60% {
    right: 50px;
    bottom: 50px; */
  }
  100% {
    bottom: 10px;
    color: grey;
  }
}
